html, body {
    height: 100%;
    margin: 0;
}
#map_canvas,#list {
    /*
    width: 100%;
    height: 100%;
    */
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.mapa {
    background:transparent url(../img/world.png) no-repeat;
    height: 36px;
    width: 36px;
}

.lista {
    background:transparent url(../img/order.png) no-repeat;
    height: 36px;
    width: 36px;
}
.refresh{
    background:transparent url(../img/refresh.png) no-repeat;
    height: 36px;
    width: 36px;
}
.lugar {
    background:transparent url(../img/publish.png) no-repeat;
    height: 36px;
    width: 36px;
}
.ico-prov-form {
    background:transparent url(../img/pushpin.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 16px;
}
.ico-geopos-form {
    background:transparent url(../img/satelite.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 24px;
}

.ico-gas-form {
    background:transparent url(../img/gas.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 24px;
}

#myModal{
    overflow: visible;
}
