html, body {
    height: 100%;
    margin: 0;
}
#map_canvas,#list {
    /*
    width: 100%;
    height: 100%;
    */
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.mapa {
    background:transparent url(../img/world_36.png) no-repeat;
    height: 36px;
    width: 36px;
}

.lista {
    background:transparent url(../img/order_36.png) no-repeat;
    height: 36px;
    width: 36px;
}
.refresh{
    background:transparent url(../img/refresh_36.png) no-repeat;
    height: 36px;
    width: 36px;
}
.geopos {
    background:transparent url(../img/satelite_36.png) no-repeat;
    height: 36px;
    width: 36px;
}
.gas{
    background:transparent url(../img/gas_36.png) no-repeat;
    height: 34px;
    width: 36px;
    margin-top: 2px;
}
.route{
    background:transparent url(../img/sign_36.png) no-repeat;
    height: 36px;
    width: 36px;
}

.ico-prov-form {
    background:transparent url(../img/pushpin_24.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 16px;
}
.ico-geopos-form {
    background:transparent url(../img/satelite_24.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 24px;
}

.ico-gas-form {
    background:transparent url(../img/gas_24.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 24px;
}
.ico-route-form {
    background:transparent url(../img/sign_24.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 24px;
}
.ico-user-form {
    background:transparent url(../img/user_24.png) no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 19px;
}

#myModal{
    overflow: visible;
}
