<!DOCTYPE html>
<html id="home" lang="es" ng-app="petroleum_app">
<head>
	<meta charset=utf-8 />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Petroleum</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="shortcut icon" href="icos/favicon_yo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icos/yo_144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icos/yo_114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icos/yo_72.png">
    <link rel="apple-touch-icon-precomposed" href="icos/yo_57.png">
</head>
<body ng-init="BeganToBegin()" ng-controller="petroleumCtrl" >

    <!-- top navbar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="#">Petroleum</a>
            <ul class="nav pull-right">
                <li><a href="#" id="btn_renderToggle" class="mapa" ng-click="renderToggle()"></a></li>
                <li><a href="#" class="refresh" ng-click="gasToggle()"></a></li>
                <li><a href="#" class="geopos" ng-click="showLocalizacionOptions()"></a></li>
                <li><a href="#" class="gas" ng-click="showCombustibleOptions()"></a></li>
                <li><a href="#" class="route" ng-click="showRoutePlanningOptions()"></a></li>
            </ul>
        </div>
    </div>

    <!-- forms -->
    <div class="modal" id="myModalLocalizacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3><i class="ico-geopos-form"></i> Localización</h3>
        </div>
        <div class="modal-body">
            <form id="formLocalizacion" class="form-horizontal">
                <fieldset>
                    <legend><i class="ico-prov-form"></i> Provincias</legend>
                    <div class="control-group">
                        <label for="select_idprovincia" class="control-label">Selecciona la:</label>
                        <div class="controls">
                            <select id="select_idprovincia" class="input-medium uneditable-input">
                                <option value="0" selected>- Provincia -</option>
                                <option value="15">A coru&#241;a</option>
                                <option value="1">&#193;lava</option>
                                <option value="2">Albacete</option>
                                <option value="3">Alicante</option>
                                <option value="4">Almer&#237;a</option>
                                <option value="33">Asturias</option>
                                <option value="5">&#193;vila</option>
                                <option value="6">Badajoz</option>
                                <option value="7">Baleares</option>
                                <option value="8">Barcelona</option>
                                <option value="9">Burgos</option>
                                <option value="10">C&#225;ceres</option>
                                <option value="11">C&#225;diz</option>
                                <option value="39">Cantabria</option>
                                <option value="12">Castell&#243;n</option>
                                <option value="51">Ceuta</option>
                                <option value="13">Ciudad Real</option>
                                <option value="14">C&#243;rdoba</option>
                                <option value="16">Cuenca</option>
                                <option value="99">Extranjero</option>
                                <option value="17">Girona</option>
                                <option value="18">Granada</option>
                                <option value="19">Guadalajara</option>
                                <option value="20">Guip&#250;zcoa</option>
                                <option value="21">Huelva</option>
                                <option value="22">Huesca</option>
                                <option value="23">Ja&#233;n</option>
                                <option value="26">La rioja</option>
                                <option value="35">Las palmas</option>
                                <option value="24">Le&#243;n</option>
                                <option value="25">Lleida</option>
                                <option value="27">Lugo</option>
                                <option value="28">Madrid</option>
                                <option value="29">M&#225;laga</option>
                                <option value="52">Melilla</option>
                                <option value="30">Murcia</option>
                                <option value="31">Navarra</option>
                                <option value="32">Ourense</option>
                                <option value="34">Palencia</option>
                                <option value="36">Pontevedra</option>
                                <option value="37">Salamanca</option>
                                <option value="38">Santa cruz de tenerife</option>
                                <option value="40">Segovia</option>
                                <option value="41">Sevilla</option>
                                <option value="42">Soria</option>
                                <option value="43">Tarragona</option>
                                <option value="44">Teruel</option>
                                <option value="45">Toledo</option>
                                <option value="46">Valencia</option>
                                <option value="47">Valladolid</option>
                                <option value="48">Vizcaya</option>
                                <option value="49">Zamora</option>
                                <option value="50">Zaragoza</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
        
                <fieldset>
                    <legend><i class="ico-user-form"></i> Mi Posicion</legend>
        
                    <div class="control-group">
                        <label for="checkbox_geoposicionamiento" class="control-label">Geoposición?:</label>
                        <div class="controls">
                            <input type="checkbox" id="checkbox_geoposicionamiento" ng-model="geopos" ng-change="positionControl()"/>
                        </div>
                    </div>
<!--
                    <div id="alert_checkbox_geoposicionamiento" class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Posicionando</h4>
                        Triangulando posición ... Estrella de la muerte OK ... Desviando satelite S.O.L. ...
                    </div>
        
                    <div id="alert_checkbox_geoposicionamiento" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>¡ Te tenemos !</h4>
                        <b>Estas en:</b> Orejilla del Sordete , Cuenca
                    </div>
        
        
                    <div id="alert_checkbox_geoposicionamiento" class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>¡ Error !</h4>
                        Por algun motivo no podemos geoposicionarte !!!
                    </div>
-->
                    <div class="control-group">
                        <label for="input_range" class="control-label">Radio: </label>
                        <div class="controls">
                            <input id="input_range" type="number" class="input-small uneditable-input" min="1000" max="100000" step="500" value="1000" onChange="javascript:output_range.value=(parseInt(input_range.value)/1000)+'Km';"/>
                            <output id="output_range" for="input_range"></output>
                        </div>
                    </div>
<!--
                    <div id="alert_input_range" class="alert alert-block">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>¡ Cuidado !</h4>
                        Un radio demasiado amplio tendra muchos elementos y tardara más...
                    </div>
-->
                </fieldset>
                <p>
                    <button type="submit" class="btn btn-block btn-primary" ng-click="showLocalizacionOptions()" >Ok</button>
                </p>
            </form>
        </div>
    </div>

    <div class="modal" id="myModalCombustible" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3><i class="ico-gas-form"></i> Mi Combustible</h3>
        </div>
        <div class="modal-body">
            <form id="formCombustible" class="form-horizontal">
                <fieldset>
                    <legend><small>Selecciona tu tipo de gasolina</small></legend>
                    <div class="control-group">
                        <label for="select_combustible" class="control-label">Selecciona el:</label>
                        <div class="controls">
                            <select id="select_combustible" class="input-medium" ng-model="gasolina_type" ng-change="gasToggle()">
                                <option value="0" selected>-Combustible-</option>
                                <option value="1">Gasolina 95</option>
                                <option value="2">Gasolina 97</option>
                                <option value="3">Gasolina 98</option>
                                <option value="4">Gasóleo A habitual</option>
                                <option value="5">Nuevo gasóleo A</option>
                                <option value="6">Gasóleo B</option>
                                <option value="7">Gasóleo C</option>
                                <option value="8">Biodiésel</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <p>
                  <button type="submit" class="btn btn-block btn-primary" ng-click="showCombustibleOptions()" >Ok</button>
                </p>
            </form>
        </div> 
    </div>

    <div class="modal" id="myModalRoutePlanning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" ng-click="showRoutePlanningOptions()">×</button>
            <h3><i class="ico-route-form"></i> Route Planning: </h3>
        </div>
        <div class="modal-body">
            <form id="formRoutePlanning" class="form-horizontal">
                <fieldset>

                    <legend><small>Crea tu ruta, maximo 9 puntos intermedios</small></legend>

                    <div class="control-group">
                        <label for="route_mode" class="control-label">Modo</label>
                        <div class="controls">
                            <select id="route_mode"class="input-medium" ng-model="route_mode" ng-change="updateRoute()">
                                <option value="driving">Conduciendo</option>
                                <option value="walking">Andando</option>
                                <option value="bicycling">Bicicleta</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="route_highways" class="control-label">Autopistas</label>
                        <div class="controls">
                            <input id="route_highways" type="checkbox" ng-model="route_highways" ng-change="updateRoute()" checked>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="route_tolls" class="control-label">Peajes</label>
                        <div class="controls">
                            <input id="route_tolls" type="checkbox" ng-model="route_tolls" ng-change="updateRoute()">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="route_optimize" class="control-label">Optimizada</label>
                        <div class="controls">
                            <input id="route_optimize" type="checkbox" ng-model="route_optimize" ng-change="updateRoute()" checked>
                        </div>
                    </div>

                </fieldset>
                <p>
                    <button id="createRoute" class="btn btn-block btn-primary" ng-click="createRoute()">Crear</button>
                    <button id="calcRoute" class="btn btn-block btn-success" ng-click="calcRoute()">Calcular</button>
                    <button id="resetRoute" class="btn btn-block btn-danger" ng-click="resetRoute()">Reiniciar</button>
                </p>
            </form>
        </div>
    </div>
    <!-- renders -->
    <div id="list" class="row-fluid">
        <div class="span12">
            <table id="tabla" class="table table-bordered table-hover table-condensed">
                <caption>gasolineras</caption>
                <thead>
                <tr>
                    <th>rotulo</th>
                    <th>precio</th>
                    <th>latitud</th>
                    <th>longitud</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div id="map" class="row-fluid">
        <div id="map_canvas" class="span12">Mapa</div>
    </div>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://maps.google.com/maps/api/js?sensor=true&language=es"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    <script src="lib/googleMapsUtilityLibrary/geolocationmarker-compiled.js"></script>
    <script src="lib/googleMapsUtilityLibrary/markerwithlabel_packed.js"></script>
    <script src="lib/googleMapsUtilityLibrary/RouteBoxer_packed.js"></script>

    <script src="lib/jquery/jquery-1.7.2.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-loader.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    <script src="js/MapsAndMarkers.js"></script>
    <script src="js/jqueryScrips.js"></script>
</body>
</html>