<!DOCTYPE html>
<html id="home" lang="es" ng-app="petroleum_app">
<head>
	<meta charset=utf-8 />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Petroleum</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/toogle.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="icos/favicon_yo.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icos/yo_144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icos/yo_114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icos/yo_72.png">
    <link rel="apple-touch-icon-precomposed" href="icos/yo_57.png">
</head>
<body ng-init="BeganToBegin()" ng-controller="petroleumCtrl" >

    <!-- top navbar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="h1 small" href="#">V 0.0.9</a>
            <ul class="nav">
                <li><a href="#" class="mapa" onclick="showRender(this)"></a></li>
                <li><a href="#" class="refresh" ng-click="gasToogle()"></a></li>
                <li><a href="#" class="lugar" onclick="showOption('#id0')"></a></li>
                <li><a href="#" class="posicion" onclick="showOption('#id1')"></a></li>
                <li><a href="#" class="combustible" onclick="showOption('#id2')"></a></li>
            </ul>
        </div>
    </div>

    <div>
        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Filtros</h3>
            </div>
            <div class="modal-body">
                <div id="content">
                    <div id="wrapper">
                        <div id="steps">
                            <form id="formElem" name="formElem">
                                <fieldset class="step">
                                    <legend>Provincias y Poblaciones</legend>
                                    --------------------
                                </fieldset>

                                <fieldset class="step">
                                    <legend>Mi Posicion</legend>

                                    <div class="iphone-toggle-buttons">
                                        <label for="checkbox1">
                                            <input type="checkbox" id="checkbox1" checked="checked" />
                                            <span>Posicion</span>
                                        </label>
                                    </div>

                                    <div>
                                        <label for="range1">
                                            <input type="range" id="range1" min="1000" max="100000" step="500" value="1000" onchange="javascript:output1.value=(parseInt(range1.value)/1000)+'Km';"/>
                                            <output id="output1" for="range1"></output>
                                            <span>Radio</span>
                                        </label>
                                    </div>

                                </fieldset>

                                <fieldset class="step">
                                    <legend>Mi Combustible</legend>
                                    <label for="select1" class="checkbox"><span>Selecciona: </span></label>
                                    <select id="select1" class="span2" ng-model="gasolina_type" ng-change="gasToogle()">
                                        <option value="0" selected>--------------</option>
                                        <option value="1">Gasolina 95</option>
                                        <option value="2">Gasolina 97</option>
                                        <option value="3">Gasolina 98</option>
                                        <option value="4">Gasóleo A habitual</option>
                                        <option value="5">Nuevo gasóleo A</option>
                                        <option value="6">Gasóleo B</option>
                                        <option value="7">Gasóleo C</option>
                                        <option value="8">Biodiésel</option>
                                    </select>
                                </fieldset>

                            </form>
                        </div>
                        <div id="navigation">
                            <ul>
                                <li class="selected">
                                    <a id="id0" class="lugar" href="#"></a>
                                </li>
                                <li>
                                    <a id="id1" class="posicion" href="#"></a>
                                </li>
                                <li>
                                    <a id="id2" class="combustible" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Renders -->
    <div id="list" class="row-fluid">
        <div class="span12">
            <table id="tabla" class="table table-bordered table-hover table-condensed">
                <caption>gasolineras</caption>
                <thead>
                <tr>
                    <th>rotulo</th>
                    <th>precio</th>
                    <th>latitud</th>
                    <th>longitud</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div id="map" class="row-fluid">
        <div id="map_canvas" class="span12">Mapa</div>
    </div>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://maps.google.com/maps/api/js?sensor=true&language=es"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    <script src="lib/googleMapsUtilityLibrary/geolocationmarker-compiled.js"></script>
    <script src="lib/googleMapsUtilityLibrary/markerwithlabel_packed.js"></script>

    <script src="lib/jquery/jquery-1.7.2.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-loader.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    <script src="js/MapsAndMarkers.js"></script>
    <script src="js/jqueryScrips.js"></script>
</body>
</html>